{% extends "base.html" %}
{% block body %}
<div class="col-md-6 col-md-offset-3">
	<div class="text-center">
		<h1>Better luck next time!</h1>
    	<h3>You ran out of guesses!</h3>
    	<hr>
    	<h4>The word was: {{ word }}</h4>
	</div>
    <div class="gallow col-md-4 col-md-offset-4">
        <pre>
 _______
|       |
|       o
|      /|\
|      / \
_____________
		</pre>
    </div>

    <div class="col-lg-4 col-lg-offset-4 text-center">
    	<a href="/" class="btn btn-lg btn-success">Play Again</a>
    </div>
</div>
{% endblock %}