{% extends "base.html" %}
{% block body %}
<div class="col-md-6 col-md-offset-3 text-center">
    <h1>Congratulations!</h1>
    <h2>You won!</h2>
    <hr>
    <div id="guessarea">
            <ul>
                {% if session['word_map'] %}
                    {% for letter in session['word'] %}
                            <li class="letter">{{ letter }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    <br>

    <a href="/play-again" class="btn btn-lg btn-success">Play Again</a>
    <a href="/" class="btn btn-lg btn-info">Home</a>
</div>
{% endblock %}